---
layout: download-version
version: 2.5.0.0
versionshort: 2.5.0
releasedate: 23-Jul-2017 15:20
operatingsystem: Windows 7/8/8.1/10
langs:
 - bg       :  57
 - ca       :  85
 - zh_CN    : 100
 - zh_TW    : 100
 - cs       :  96
 - da       :  49
 - nl       :  89
 - fi       :  49
 - fr       :  96
 - de       : 100
 - hu       :  55
 - id       :  50
 - it       :  69
 - ja       : 100
 - ko       :  89
 - fa       :  54
 - pl       :  79
 - pt_BR    : 100
 - pt_PT    :  55
 - ro       :  87
 - ru       : 100
 - sr@latin :  55
 - sk       :  66
 - es       : 100
 - sv       :  89
 - tr       :  67
 - uk       :  71
 - vi       :  56
versionhint2: <h3>Context menu and overlays in 32-bit applications on 64-bit Windows</h3><svg style="float:left; margin-right:10px;" height="2.5em" version="1.0" viewBox="0 0 42.525 42.525" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-3.0355 -.1415)"><path d="m44.555 21.312c0 11.111-9.0071 20.118-20.118 20.118s-20.118-9.0071-20.118-20.118c-1e-7 -11.111 9.0071-20.118 20.118-20.118s20.118 9.0071 20.118 20.118z" fill="#4b8eb4" stroke="#acf" stroke-linecap="round" stroke-linejoin="round" stroke-width=".91445"/><path d="m26.664 31.947c0 1.2722-1.0313 2.3034-2.3034 2.3034s-2.3034-1.0313-2.3034-2.3034c0-1.2722 1.0313-2.3034 2.3034-2.3034s2.3034 1.0313 2.3034 2.3034z" fill="#fff"/><g transform="translate(-.058594 .58594)" fill="#fff" aria-label="!"><path d="m22.452 23.013-0.58594-8.7708c-0.10986-1.709-0.1648-2.9358-0.1648-3.6804 0-1.0132 0.26245-1.8005 0.78735-2.3621 0.53711-0.57373 1.239-0.8606 2.1057-0.8606 0.83008 0 1.4294 0.36621 1.886 0.87891 0.37135 0.48314 0.60528 0.86933 0.72144 2.4573 0.05877 0.80352 0.0012 1.6821-0.11352 3.4937l-0.7727 8.8806c-0.08545 1.0742-0.26856 1.8982-0.54932 2.4719-0.28076 0.57373-0.74463 0.8606-1.3916 0.8606-0.65918 0-1.1169-0.27466-1.3733-0.82398-0.25635-0.56152-0.43945-1.4099-0.54932-2.5452z" fill="#fff" stroke-width=".9375"/></g></g></svg><div style="margin-left:50px"><p>On x64 versions of Windows, the TortoiseGit context menu and overlays won't show in 32-bit applications (e.g., in file open-save dialogs) until you install the <a href="https://www.microsoft.com/en-us/download/details.aspx?id=52685" target="_blank">2015 C++-runtime for x86</a> (select the <em>vc_redist.x86.exe</em> file for download).</p><p>Please note, however, that this only applies to 32-bit applications on x64 OS. The Windows Explorer is not affected.</p></div>
files:
 - file: TortoiseGit-2.5.0.0-32bit.msi
   date: 23-Jul-2017 15:20
   size: 15187968
 - file: TortoiseGit-2.5.0.0-32bit.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-2.5.0.0-64bit.msi
   date: 23-Jul-2017 15:20
   size: 17412096
 - file: TortoiseGit-2.5.0.0-64bit.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-DebugSymbols-2.5.0.0.7z
   date: 23-Jul-2017 15:21
   size: 41168348
 - file: TortoiseGit-DebugSymbols-2.5.0.0.7z.rsa.asc
   date: 23-Jul-2017 15:21
   size: 836
 - file: TortoiseGit-LanguageDlls-2.5.0.0-32bit.7z
   date: 23-Jul-2017 15:21
   size: 1770625
 - file: TortoiseGit-LanguageDlls-2.5.0.0-32bit.7z.rsa.asc
   date: 23-Jul-2017 15:21
   size: 836
 - file: TortoiseGit-LanguageDlls-2.5.0.0-64bit.7z
   date: 23-Jul-2017 15:21
   size: 1825451
 - file: TortoiseGit-LanguageDlls-2.5.0.0-64bit.7z.rsa.asc
   date: 23-Jul-2017 15:21
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-bg.msi
   date: 23-Jul-2017 15:20
   size: 2670592
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-bg.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ca.msi
   date: 23-Jul-2017 15:20
   size: 2957312
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ca.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-cs.msi
   date: 23-Jul-2017 15:20
   size: 3018752
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-cs.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-da.msi
   date: 23-Jul-2017 15:20
   size: 3051520
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-da.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-de.msi
   date: 23-Jul-2017 15:20
   size: 5472256
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-de.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-es.msi
   date: 23-Jul-2017 15:20
   size: 2666496
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-es.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-fa.msi
   date: 23-Jul-2017 15:20
   size: 2453504
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-fa.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-fi.msi
   date: 23-Jul-2017 15:20
   size: 2449408
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-fi.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-fr.msi
   date: 23-Jul-2017 15:20
   size: 2744320
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-fr.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-hu.msi
   date: 23-Jul-2017 15:20
   size: 3141632
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-hu.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-id.msi
   date: 23-Jul-2017 15:20
   size: 2449408
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-id.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-it.msi
   date: 23-Jul-2017 15:20
   size: 2764800
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-it.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ja.msi
   date: 23-Jul-2017 15:20
   size: 2093056
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ja.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ko.msi
   date: 23-Jul-2017 15:20
   size: 2093056
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ko.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-nl.msi
   date: 23-Jul-2017 15:20
   size: 3055616
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-nl.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-pl.msi
   date: 23-Jul-2017 15:20
   size: 3506176
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-pl.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-pt_BR.msi
   date: 23-Jul-2017 15:20
   size: 3678208
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-pt_BR.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-pt_PT.msi
   date: 23-Jul-2017 15:20
   size: 2711552
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-pt_PT.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ro.msi
   date: 23-Jul-2017 15:20
   size: 3039232
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ro.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ru.msi
   date: 23-Jul-2017 15:20
   size: 2949120
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-ru.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-sk.msi
   date: 23-Jul-2017 15:20
   size: 3207168
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-sk.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-sr-latin.msi
   date: 23-Jul-2017 15:20
   size: 2949120
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-sr-latin.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-sv.msi
   date: 23-Jul-2017 15:20
   size: 3706880
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-sv.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-tr.msi
   date: 23-Jul-2017 15:20
   size: 2453504
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-tr.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-uk.msi
   date: 23-Jul-2017 15:20
   size: 2920448
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-uk.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-vi.msi
   date: 23-Jul-2017 15:20
   size: 2469888
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-vi.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-zh_CN.msi
   date: 23-Jul-2017 15:20
   size: 2080768
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-zh_CN.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-zh_TW.msi
   date: 23-Jul-2017 15:20
   size: 2080768
 - file: TortoiseGit-LanguagePack-2.5.0.0-32bit-zh_TW.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-bg.msi
   date: 23-Jul-2017 15:20
   size: 3776512
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-bg.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ca.msi
   date: 23-Jul-2017 15:20
   size: 4059136
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ca.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-cs.msi
   date: 23-Jul-2017 15:20
   size: 4124672
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-cs.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-da.msi
   date: 23-Jul-2017 15:20
   size: 4149248
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-da.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-de.msi
   date: 23-Jul-2017 15:20
   size: 6574080
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-de.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-es.msi
   date: 23-Jul-2017 15:20
   size: 3772416
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-es.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-fa.msi
   date: 23-Jul-2017 15:20
   size: 3551232
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-fa.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-fi.msi
   date: 23-Jul-2017 15:20
   size: 3547136
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-fi.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-fr.msi
   date: 23-Jul-2017 15:20
   size: 3846144
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-fr.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-hu.msi
   date: 23-Jul-2017 15:20
   size: 4247552
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-hu.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-id.msi
   date: 23-Jul-2017 15:20
   size: 3551232
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-id.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-it.msi
   date: 23-Jul-2017 15:20
   size: 3866624
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-it.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ja.msi
   date: 23-Jul-2017 15:20
   size: 3186688
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ja.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ko.msi
   date: 23-Jul-2017 15:20
   size: 3194880
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ko.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-nl.msi
   date: 23-Jul-2017 15:20
   size: 4157440
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-nl.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-pl.msi
   date: 23-Jul-2017 15:20
   size: 4616192
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-pl.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-pt_BR.msi
   date: 23-Jul-2017 15:20
   size: 4780032
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-pt_BR.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-pt_PT.msi
   date: 23-Jul-2017 15:20
   size: 3813376
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-pt_PT.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ro.msi
   date: 23-Jul-2017 15:20
   size: 4136960
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ro.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ru.msi
   date: 23-Jul-2017 15:20
   size: 4050944
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-ru.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-sk.msi
   date: 23-Jul-2017 15:20
   size: 4313088
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-sk.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-sr-latin.msi
   date: 23-Jul-2017 15:20
   size: 4046848
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-sr-latin.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-sv.msi
   date: 23-Jul-2017 15:20
   size: 4812800
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-sv.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-tr.msi
   date: 23-Jul-2017 15:20
   size: 3559424
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-tr.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-uk.msi
   date: 23-Jul-2017 15:20
   size: 4022272
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-uk.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-vi.msi
   date: 23-Jul-2017 15:20
   size: 3567616
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-vi.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-zh_CN.msi
   date: 23-Jul-2017 15:20
   size: 3170304
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-zh_CN.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-zh_TW.msi
   date: 23-Jul-2017 15:20
   size: 3174400
 - file: TortoiseGit-LanguagePack-2.5.0.0-64bit-zh_TW.msi.rsa.asc
   date: 23-Jul-2017 15:20
   size: 836
---
