---
layout: download-version
version: 1.8.12.0
releasedate: 25-Nov-2014 19:25
versionhint: |
 <p><b>Users of Windows XP and Server 2003, please update <a href='TortoiseGit-1.8.12.0-WindowsXP-fix.zip'>TortoiseGitProc.exe</a> after after installing 1.8.12.0.</b></p>
operatingsystem: Windows XP/Vista/7/8/8.1/10
langs:
 - bg_BG    : 56
 - ca       : 89
 - zh_CN    : 100
 - zh_TW    : 100
 - cs       : 98
 - nl_NL    : 89
 - fr       : 99
 - de       : 100
 - hu       : 55
 - id       : 52
 - it_IT    : 63
 - ja       : 100
 - ko_KR    : 97
 - pl_PL    : 79
 - pt_BR    : 97
 - pt_PT    : 55
 - ro       : 94
 - ru       : 100
 - sr@latin : 54
 - sk       : 63
 - es_ES    : 100
 - sv       : 96
 - tr       : 63
 - vi       : 60
files:
 - file: TortoiseGit-1.8.12.0-32bit.msi
   date: 25-Nov-2014 19:25
   size: 15880192
 - file: TortoiseGit-1.8.12.0-32bit.msi.asc
   date: 25-Nov-2014 19:25
   size: 188
 - file: TortoiseGit-1.8.12.0-32bit.msi.rsa.asc
   date: 25-Nov-2014 19:25
   size: 836
 - file: TortoiseGit-1.8.12.0-64bit.msi
   date: 25-Nov-2014 19:26
   size: 19103744
 - file: TortoiseGit-1.8.12.0-64bit.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-1.8.12.0-64bit.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-1.8.12.0-WindowsXP-fix.zip
   date: 02-Dec-2014 01:03
   size: 5732045
 - file: TortoiseGit-1.8.12.0-WindowsXP-fix.zip.asc
   date: 02-Dec-2014 01:03
   size: 188
 - file: TortoiseGit-1.8.12.0-WindowsXP-fix.zip.rsa.asc
   date: 02-Dec-2014 01:03
   size: 836
 - file: TortoiseGit-DebugSymbols-1.8.12.0.7z
   date: 25-Nov-2014 19:28
   size: 32841283
 - file: TortoiseGit-DebugSymbols-1.8.12.0.7z.asc
   date: 25-Nov-2014 19:28
   size: 188
 - file: TortoiseGit-DebugSymbols-1.8.12.0.7z.rsa.asc
   date: 25-Nov-2014 19:28
   size: 836
 - file: TortoiseGit-LanguageDlls-1.8.12.0-32bit.7z
   date: 25-Nov-2014 19:35
   size: 1789568
 - file: TortoiseGit-LanguageDlls-1.8.12.0-32bit.7z.asc
   date: 25-Nov-2014 19:36
   size: 188
 - file: TortoiseGit-LanguageDlls-1.8.12.0-32bit.7z.rsa.asc
   date: 25-Nov-2014 19:28
   size: 836
 - file: TortoiseGit-LanguageDlls-1.8.12.0-64bit.7z
   date: 25-Nov-2014 19:28
   size: 1821750
 - file: TortoiseGit-LanguageDlls-1.8.12.0-64bit.7z.asc
   date: 25-Nov-2014 19:28
   size: 188
 - file: TortoiseGit-LanguageDlls-1.8.12.0-64bit.7z.rsa.asc
   date: 25-Nov-2014 19:28
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-bg_BG.msi
   date: 25-Nov-2014 19:25
   size: 2506752
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-bg_BG.msi.asc
   date: 25-Nov-2014 19:25
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-bg_BG.msi.rsa.asc
   date: 25-Nov-2014 19:25
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ca.msi
   date: 25-Nov-2014 19:25
   size: 2625536
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ca.msi.asc
   date: 25-Nov-2014 19:25
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ca.msi.rsa.asc
   date: 25-Nov-2014 19:25
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-cs.msi
   date: 25-Nov-2014 19:25
   size: 2793472
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-cs.msi.asc
   date: 25-Nov-2014 19:25
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-cs.msi.rsa.asc
   date: 25-Nov-2014 19:25
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-de.msi
   date: 25-Nov-2014 19:25
   size: 4874240
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-de.msi.asc
   date: 25-Nov-2014 19:25
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-de.msi.rsa.asc
   date: 25-Nov-2014 19:25
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-es_ES.msi
   date: 25-Nov-2014 19:25
   size: 2490368
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-es_ES.msi.asc
   date: 25-Nov-2014 19:25
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-es_ES.msi.rsa.asc
   date: 25-Nov-2014 19:25
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-fr.msi
   date: 25-Nov-2014 19:25
   size: 2592768
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-fr.msi.asc
   date: 25-Nov-2014 19:25
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-fr.msi.rsa.asc
   date: 25-Nov-2014 19:25
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-hu.msi
   date: 25-Nov-2014 19:25
   size: 2899968
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-hu.msi.asc
   date: 25-Nov-2014 19:25
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-hu.msi.rsa.asc
   date: 25-Nov-2014 19:25
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-id.msi
   date: 25-Nov-2014 19:25
   size: 2281472
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-id.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-id.msi.rsa.asc
   date: 25-Nov-2014 19:25
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-it_IT.msi
   date: 25-Nov-2014 19:26
   size: 2596864
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-it_IT.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-it_IT.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ja.msi
   date: 25-Nov-2014 19:26
   size: 1929216
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ja.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ja.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ko_KR.msi
   date: 25-Nov-2014 19:26
   size: 1925120
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ko_KR.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ko_KR.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-nl_NL.msi
   date: 25-Nov-2014 19:26
   size: 2830336
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-nl_NL.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-nl_NL.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-pl_PL.msi
   date: 25-Nov-2014 19:26
   size: 3235840
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-pl_PL.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-pl_PL.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-pt_BR.msi
   date: 25-Nov-2014 19:26
   size: 3448832
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-pt_BR.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-pt_BR.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-pt_PT.msi
   date: 25-Nov-2014 19:26
   size: 2490368
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-pt_PT.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-pt_PT.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ro.msi
   date: 25-Nov-2014 19:26
   size: 2797568
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ro.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ro.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ru.msi
   date: 25-Nov-2014 19:26
   size: 2715648
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ru.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-ru.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-sk.msi
   date: 25-Nov-2014 19:26
   size: 2977792
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-sk.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-sk.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-sr-latin.msi
   date: 25-Nov-2014 19:26
   size: 2719744
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-sr-latin.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-sr-latin.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-sv.msi
   date: 25-Nov-2014 19:26
   size: 3420160
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-sv.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-sv.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-tr.msi
   date: 25-Nov-2014 19:26
   size: 2281472
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-tr.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-tr.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-vi.msi
   date: 25-Nov-2014 19:26
   size: 2293760
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-vi.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-vi.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-zh_CN.msi
   date: 25-Nov-2014 19:26
   size: 1912832
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-zh_CN.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-zh_CN.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-zh_TW.msi
   date: 25-Nov-2014 19:26
   size: 1908736
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-zh_TW.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-32bit-zh_TW.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-bg_BG.msi
   date: 25-Nov-2014 19:26
   size: 3571712
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-bg_BG.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-bg_BG.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ca.msi
   date: 25-Nov-2014 19:26
   size: 3690496
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ca.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ca.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-cs.msi
   date: 25-Nov-2014 19:26
   size: 3850240
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-cs.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-cs.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-de.msi
   date: 25-Nov-2014 19:26
   size: 5935104
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-de.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-de.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-es_ES.msi
   date: 25-Nov-2014 19:26
   size: 3551232
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-es_ES.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-es_ES.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-fr.msi
   date: 25-Nov-2014 19:26
   size: 3661824
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-fr.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-fr.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-hu.msi
   date: 25-Nov-2014 19:26
   size: 3964928
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-hu.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-hu.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-id.msi
   date: 25-Nov-2014 19:26
   size: 3346432
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-id.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-id.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-it_IT.msi
   date: 25-Nov-2014 19:26
   size: 3665920
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-it_IT.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-it_IT.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ja.msi
   date: 25-Nov-2014 19:26
   size: 2990080
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ja.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ja.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ko_KR.msi
   date: 25-Nov-2014 19:26
   size: 2990080
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ko_KR.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ko_KR.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-nl_NL.msi
   date: 25-Nov-2014 19:26
   size: 3891200
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-nl_NL.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-nl_NL.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-pl_PL.msi
   date: 25-Nov-2014 19:26
   size: 4304896
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-pl_PL.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-pl_PL.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-pt_BR.msi
   date: 25-Nov-2014 19:26
   size: 4517888
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-pt_BR.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-pt_BR.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-pt_PT.msi
   date: 25-Nov-2014 19:26
   size: 3555328
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-pt_PT.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-pt_PT.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ro.msi
   date: 25-Nov-2014 19:26
   size: 3866624
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ro.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ro.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ru.msi
   date: 25-Nov-2014 19:26
   size: 3784704
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ru.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-ru.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-sk.msi
   date: 25-Nov-2014 19:26
   size: 4046848
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-sk.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-sk.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-sr-latin.msi
   date: 25-Nov-2014 19:26
   size: 3780608
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-sr-latin.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-sr-latin.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-sv.msi
   date: 25-Nov-2014 19:26
   size: 4489216
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-sv.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-sv.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-tr.msi
   date: 25-Nov-2014 19:26
   size: 3350528
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-tr.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-tr.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-vi.msi
   date: 25-Nov-2014 19:26
   size: 3362816
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-vi.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-vi.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-zh_CN.msi
   date: 25-Nov-2014 19:26
   size: 2969600
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-zh_CN.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-zh_CN.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-zh_TW.msi
   date: 25-Nov-2014 19:26
   size: 2969600
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-zh_TW.msi.asc
   date: 25-Nov-2014 19:26
   size: 188
 - file: TortoiseGit-LanguagePack-1.8.12.0-64bit-zh_TW.msi.rsa.asc
   date: 25-Nov-2014 19:26
   size: 836
---
